img {
	width:150px;
	height:150px;
	border-radius: 100px
}

.selectable:hover {
	border-color:darkgreen;
}

.selectable {
	border-style:solid;
	border-color:lightgreen;
	border-width:5px;
}

.playerCharacter {
	border-style:solid;
	border-color:darkgreen;
	border-width:5px;
}

.passiveOpponent {
	border-style:solid;
	border-color:red;
	border-width:5px;
}

.activeOpponent {
	border-style:solid;
	border-color:darkred;
	border-width:5px;
}

/*.box {
	background-color: lightblue;
}
*/
.hide {
	display:hidden;
}

.show {
	display:static;
}

.combatLog {
	height:50px;
}

.characterDisplay {
	height:25px;
}

.opponentDisplay {
	height:25px;
}